<div class="container">
  <img src="assets/images/banner.png" class="img-fluid">
  <div class="my-5 text-center">
      <h1>Book Tickets for event now, Limited Seats :)</h1>
      <p class="text-muted">
          For 18+ years old people only, Need to carry your goverment Identity for event. No cancellation of sold tickets.
      </p>
  </div>
  
  <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">Single Person</h4>
          </div>
          <div class="card-body">
              <h2 class="card-title pricing-card-title">
                  <i class="fas fa-rupee-sign"></i> 300
              </h2>
              <a class="btn btn-lg btn-block btn-outline-primary" (click)="setTotalNumTickets('1','300')" routerLink="/seatsInformations">Proceed</a>
          </div>
      </div>
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">2 People</h4>
          </div>
          <div class="card-body">
              <h2 class="card-title pricing-card-title">
                  <i class="fas fa-rupee-sign"></i> 600
              </h2>
              <a class="btn btn-lg btn-block btn-outline-primary btn-primary" (click)="setTotalNumTickets('2','600')" routerLink="/seatsInformations">Proceed</a>
          </div>
      </div>
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">3 People</h4>
          </div>
          <div class="card-body">
              <h2 class="card-title pricing-card-title">
                  <i class="fas fa-rupee-sign"></i> 900
              </h2>
              <a class="btn btn-lg btn-block btn-outline-primary btn-primary" (click)="setTotalNumTickets('3','900')" routerLink="/seatsInformations">Proceed</a>
          </div>
      </div>
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">5 People</h4>
          </div>
          <div class="card-body">
              <h2 class="card-title pricing-card-title">
                  <i class="fas fa-rupee-sign"></i> 1500
              </h2>
              <a class="btn btn-lg btn-block btn-outline-primary btn-primary" (click)="setTotalNumTickets('5','1500')" routerLink="/seatsInformations">Proceed</a>
          </div>
      </div>
  </div>
</div>